@model sirrius.Data.Entity.Category

@{ ViewData["Title"] = "Kategori Detayı";
    ViewData["PageName"] = "/category/index"; }


<h1><a class="btn btn-sm btn-primary fs-lg" asp-action="Index"><i class="fa fa-backspace"></i> Geri</a></h1>
<div class="row">
    <div class="offset-md-2 col-md-8 offset-md-2">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h4 class="card-title text-uppercase">Kategori Detayı</h4>
            </div>
            <div class="card-body">
                <dl>
                    <dt>Kategori Adı</dt>
                    <dd>
                        @Model.Name
                    </dd>
                </dl>

            </div>
        </div>
    </div>
</div>

@section pagescripts {
    <script src="~/scripts/pages/category/detail.js"></script>
}