@{ Layout = null; }

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sirrius CRM</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/css/adminlte.css">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <!-- /.login-logo -->
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a href="../../index2.html" class="h1"><b>SirriUS</b> CRM</a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Oturum açmak için giriş yapın.</p>

                <form id="login-form">
                    <div class="input-group mb-3">
                        <input type="text" id="username" name="username" class="form-control" placeholder="Kullanıcı Adı veya E-Posta">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" id="password" name="password" class="form-control" placeholder="Şifre">
                        <div class="input-group-append" style="cursor:pointer">
                            @*<div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>*@
                            <span class="input-group-text" onclick="password_show_hide();">
                                <i class="fas fa-lock" id="show_lock"></i>
                                <i class="fas fa-unlock d-none" id="hide_lock"></i>
                            </span>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" id="remember">
                                <label for="remember">
                                    Beni Hatırla
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button id="btn-login" type="submit" class="btn btn-primary btn-block">Giriş</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
                <p class="mb-1">
                    <a href="forgot-password.html">Şifremi unuttum?</a>
                </p>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>

    <div class="circleloader"></div>

    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- JQuery validation-->
    <script src="~/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/plugins/jquery-validation/additional-methods.min.js"></script>
    <script src="~/plugins/jquery-validation/localization/messages_tr.min.js"></script>
    <!-- toastr -->
    <script src="~/plugins/toastr/toastr.min.js"></script>
    <!-- sirrius App -->
    <script src="~/js/adminlte.min.js"></script>
    <script src="~/js/helper.js"></script>
    <script src="~/js/helper.ajax.js"></script>
    <script src="~/scripts/pages/login/index.js"></script>
</body>
</html>
